body {
    background-image: url(—Pngtree—3d\ illustration\ of\ eco\ friendly_5582907.jpg);
    margin:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-bottom: 100px
}

#heading {
    text-align: center;
    font-family: sans-serif;
    color: #F3F3F3;
    font-size: 55px;
    font-weight: 100;
}

#description {
    text-align: center;
    font-family:sans-serif;
    color:#F3F3F3 ;
    font-size: 33px;
}

#survey-form {
    padding: 50px 20px;
    border-radius: 30px;    /*rounded corner effect */
    background-color: rgb(255, 228, 196, 0.7);
    max-width: 900px;
    margin: 0 auto;
    font-size:x-large;
}


.container {
    text-align: left; 
 }

 .survey-group{
    padding: 5px;
    margin: auto;
 }
 
 #survey-label {
    color: black;
    font-weight: 100;
    font-family: sans-serif;
 }

 #name {
    width: 100%;
    height: 40px;
    border-radius: 0.25rem;
    margin-bottom: 25px;
 } 

 #email {
    width: 100%;
    height: 40px;
    border-radius: 0.25rem;
    margin-bottom: 25px;
 }

 #number {
    width: 100%;
    height: 40px;
    border-radius: 0.25rem;
    margin-bottom: 2px;
 }

 #dropdown {
   width: 100%;
   height: 45px;
   border-radius: 0.25rem;
   margin-bottom: 25px;
 }

 #ServiceFeatures-id {
   color: black;
   font-weight: 100;
   font-family: sans-serif;
 }

 /* #OverallSatisfaction-id {
   color: black;
   font-weight: 100;
   font-family: sans-serif;
 }

.options {
   color: black;
   font-weight: 100;
   font-family: sans-serif;
} */

.OverallSatisfaction {
   color: black;
   font-weight: 100;
   font-family: sans-serif;
   margin-bottom: 30px;
}

.formGroup {
   color: black;
   font-weight: 100;
   font-family: sans-serif;
}

.comments {
   color: black;
   font-weight: 100;
   font-family: sans-serif;
}

#comment {
   width: 100%;
   height: 150px;
}

#button {
   text-align: center;
}

#submit {
   background-color:bisque;
   padding: 15px 30px;
   font-size: 16px;
   border-radius: 5px;
}

.button {
   display: flex;
   justify-content: center;
}

 /* 
 
 This was getting repeated : 
 
 #name-label {
    color: black;
    font-weight: 100;
    font-family: sans-serif;
 }

 #email-label {
    color: black;
    font-weight: 100;
    font-family: sans-serif;
 }
 
 #number-label {
    color: black;
    font-weight: 100;
    font-family: sans-serif;
 } */



